
@{
    ViewData["Title"] = "chitiet";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 id="abcd">Hệ Thống Mua Và Bán Coins</h1>
<div id="abcdd">
    Hệ thống mua và bán coins với các bước đơn giản thuận tiện cho việc mua và bán . </br>
    Uy tin hàng đầu và được sự tin tưởng khách hàng .  </br>
    Hệ thống có sự bảo mật giúp người mua không trục trặc trong vấn đề mua và bán coins .  </br>
    Trang web được sự đồng ý của nhà nước cấp phép hoạt động 

</div>


<style>
    #abcd{
        margin-left:150px;
    }
    #abcdd{
         margin-left:150px;
    }
</style>
