@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Quên xác nhận mật khẩu";
}

<h1 style="
    padding-left: 450px;
">@ViewData["Title"]</h1>
<p style="
    padding-left: 450px;
">
    Vui lòng kiểm tra email của bạn để đặt lại mật khẩu của bạn.
</p>

