@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
  

   <style>
      
      
        .tab-content{
            width: 900px;
            height: 800px;
           background-color:aliceblue;
           border: 5px solid orange;
        }
        .form-group1{
            margin-top:10px;
           margin-left:-140px;
        }
   </style>

<div id="tabContent" class="tab-content container">
              <div style="text-align:center;padding-bottom:5px;" class="loginLogoContainer">
                 <h1 style="font-size: 25px !important;">Đăng ký tài khoản</h1>
              </div>

              <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
              <div class="content bv-form RegisterFormDesk" id="register_popup_form" style="margin-left:30%;">
                 <div class="left-col">
                    <div class="form-group1">
                       <label class="control-label control-label-Novatic"><span class="personalLabel-v2">Họ và tên</span> <span style="color:red"> *</span></label>
                       <div class="input-wrap" style="margin-top:10px;"> 
                          <div style="padding-left:2px; padding-right:4px; padding-top:2px;" class="col-sm-4 col-xs-4">
                             <input type="text" tabindex="1" class="form-control input" asp-for="Input.LastName" id="LastName" placeholder="Họ" data-bv-field="LastName">
                          </div>
                          <div style="padding-left:2px; padding-right:4px;padding-top:8px;" class="col-sm-4 col-xs-4">
                             <input type="text" tabindex="2" class="form-control input" asp-for="Input.FirstName"  id="FirstName" placeholder="Tên" data-bv-field="MiddleName">
                          </div>
                       </div>
                    </div>
                    
                    <div class="form-group1" style="clear:both;">
                       <label class="control-label control-label-Novatic" >Tên đăng nhập <span style="color:red"> *</span></label>
                       <div class="input-wrap">
                          <input type="text" tabindex="4" class="form-control input" asp-for="Input.Username" id="reg_username" placeholder="Tối thiểu 8 ký tự gồm tiếng Việt không dấu và số" data-bv-field="user_name">
                       </div>
                    </div>
                    <div class="form-group1">
                       <label class="control-label control-label-Novatic"><span class="">Số điện thoại</span> <span style="color:red"> *</span></label>
                       <div class="input-wrap">
                          <input type="text" tabindex="5" class="form-control input" asp-for="Input.PhoneNumber" id="phone_number" placeholder="Nhập số điện thoại">
                       </div>
                    </div>
                    <div class="form-group1">
                       <label class="control-label control-label-Novatic"><span class="">Địa chỉ email</span> <span style="color:red"> *</span></label>
                       <div class="input-wrap ">
                          <input type="text" tabindex="6" class="form-control input register-email-input" asp-for="Input.Email" id="reg_email" placeholder="Nhập email">
                       </div>
                    </div>
                    
                    <div class="form-group1">
                       <label class="control-label control-label-Novatic" for="pasword">Mật khẩu <span style="color:red"> *</span></label>
                       <div class="input-wrap">
                          <input type="password" tabindex="7" class="form-control input" asp-for="Input.Password" id="reg_password" placeholder="Tối thiểu 8 kí tự gồm ký tự viết hoa và số">
                       </div>
                    </div>
                    <div id="userNameRegister" class="form-group1">
                       <label class="control-label control-label-Novatic" for="pasword">Nhập lại mật khẩu <span style="color:red"> *</span></label>
                       <div class="input-wrap">
                          <input type="password" tabindex="8" class="form-control input"  asp-for="Input.ConfirmPassword" id="reg_Repassword" placeholder="Tối thiểu 8 kí tự gồm ký tự viết hoa và số">
                       </div>
                    </div>
                    <div class="form-group1" style="margin-left:-140px;">
                        <label class="col-form-label">Ảnh đại diện: </label>
                        <input type="file" name="files" class="form-control" />
                    </div>
                 <div class="form-group" style="margin-left:-140px;">
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <label for="country">Thành Phố</label>
                        <select asp-for="Input.city" class="custom-select d-block w-100" id="city" required>
                            <option value="" selected>Chọn tỉnh thành</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <label for="state">Huyện</label>
                        <select asp-for="Input.district" class="custom-select d-block w-100" id="district" required>
                            <option value="" selected>Chọn quận huyện</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <label for="state">Phường</label>
                        <select asp-for="Input.ward" class="custom-select d-block w-100" id="ward" required>
                            <option value="" selected>Chọn phường xã</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>

                    </div>
                    <!--Grid column-->
                    </div>
               </div>
            
                    <div class="form-group">
                       <div class="input-wrap">
                          <button tabindex="34" style="margin-bottom: 20px !important;width: 180px;float:right; background-color:blueviolet; " type="submit" id="register_popup_submit" class="btn btn-info btn-block btn-register-submit Novatic-login" onclick="Register()">Đăng ký tài khoản</button>
                       </div>
                    </div>
                    </div>
                 </div>
                 </form>
              </div>
              

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/CountryVietNam/axios.min.js"></script>
    <script src="~/CountryVietNam/app.js"></script>
    <script>
       var cityCheck = $('#city');
       var districtCheck = $('#district');
       var wardCheck = $('#ward');
       cityCheck.click(function () {
           if (cityCheck.val() != "") {
               districtCheck.removeAttr("disabled");
           } else {
               districtCheck.attr("disabled", true);
           }
       });
       districtCheck.click(function () {
           if (districtCheck.val() != "") {
               wardCheck.removeAttr("disabled");
           } else {
               wardCheck.attr("disabled", true);
           }
       });
       window.onload = function () {
           districtCheck.attr("disabled", true);
           wardCheck.attr("disabled", true);
       }
    </script>
}