@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
 <style>  body {
     background-position: center;
     background-color: #eee;
     background-repeat: no-repeat;
     background-size: cover;
     color: #505050;
     font-family: "Rubik", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: normal;
     line-height: 0.5;
     text-transform: none
 }

 .forgot {
     background-color: #fff;
     padding: 12px;
     border: 1px solid #dfdfdf
 }

 .padding-bottom-3x {
     padding-bottom: 72px !important
 }

 .card-footer {
     background-color: #fff
 }

 .btn {
     font-size: 13px
 }

 .form-control:focus {
     color: #495057;
     background-color: #fff;
     border-color: #76b7e9;
     outline: 0;
     box-shadow: 0 0 0 0px #28a745
 }
 .btn {
    font-size: 13px;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    }
    .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.container1 {
    
    height: 260px;
}

 </style>
<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>ĐẶT LẠI MẬT KHẨU</h2>
                
                <ol class="list-unstyled">                   
                </ol>
            </div>
            <form class="card mt-4" method="post" >
                <input asp-for="Input.Code" type="hidden" />
                <div class="card-body">
                    <div class="form-group"> <label for="email-for-pass">Email</label> <input asp-for="Input.Email" class="form-control"  id="email-for-pass" required=""><small class="form-text text-muted"></small> </div>
                </div>
                <div class="card-body">
                    <div class="form-group"> <label for="email-for-pass">Mật khẩu</label> <input asp-for="Input.Password" class="form-control"  id="email-for-pass" required=""><small class="form-text text-muted"></small> </div>
                </div>
                <div class="card-body">
                    <div class="form-group"> <label for="email-for-pass">Nhập lại mật khẩu</label> <input asp-for="Input.ConfirmPassword" class="form-control"  id="email-for-pass" required=""><small class="form-text text-muted"></small> </div>
                </div>
                <div class="card-footer"> <button class="btn btn-success" type="submit"style="width: 200px;height: 44px;">Đặt lại mật khẩu</button>  </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
