@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại xác nhận mật khẩu";
}

<h1 style="
    padding-left: 450px;
">@ViewData["Title"]</h1>
<p style="
    padding-left: 450px;
">
    Mật khẩu của bạn đã được thiết lập lại.Cảm Ơn! <a asp-page="./Login">nhấn vào đây để đăng nhập</a>.
</p>
