@model Project.Models.Dtos.UpdateAuctionDtos

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Auction</h4>
<hr />
<div class="row" style="margin-left:30%;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Time_Start" class="control-label"></label>
                <input asp-for="Time_Start" class="form-control" />
                <span asp-validation-for="Time_Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time_End" class="control-label"></label>
                <input asp-for="Time_End" class="form-control" />
                <span asp-validation-for="Time_End" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

